#include "resource.h"

///////////////////////////////////////////////////
//
// Icon
//

IDI_ICON1 ICON "Data\\icons\\icon.ico"
IDI_ICON2 ICON "Data\\icons\\icon.ico"

///////////////////////////////////////////////////

